<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
<title>采购记录修改 </title>
</head>
<body>
<style>
	#remarks{
		height:5em;
	}
	select{
		height:2.4em;
		border: solid 1px #ddd;
	}
	#reset{
		
	}
</style>
<article class="page-container">
	<form class="form form-horizontal" id="form-purchase-add" action="#" th:action="@{/purchase/updateOrder}">
	<input type="hidden" name="save" value="true"/>
	<input type="text" name="id" th:value="${orderInfoForm.id}" style="display:none"/>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>采购方式：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<select id="purchaseMethod" name="purchaseMethod"  class="text-input">
				<option value="">待选择</option>
				<option th:each="dicMethod:${dicMethods}" th:text="${dicMethod.description}" 
					th:value="${dicMethod.code}" th:selected="${orderInfoForm.dicMethodCode eq dicMethod.code}">空</option> 
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>采购时间：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<input type="text" onfocus="WdatePicker({el:$dp.$('purchaseTime'),dateFmt:'yyyy-MM-dd'})" 
				autocomplete="off" value="" placeholder="采购时间" id="purchaseTimeString" 
				name="purchaseTimeString" class="input-text Wdate" readonly="readonly"
				th:value="${#dates.format(orderInfoForm.purchaseTime, 'yyyy-MM-dd')}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>经&nbsp&nbsp办&nbsp&nbsp人：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<input type="text" class="input-text" autocomplete="off"  
				placeholder="经办人" id="operator" name="operator"
				th:value="${orderInfoForm.operator}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客户名称：</label>
		<div class="formControls col-xs-7 col-sm-8 ">
			<input type="text" class="input-text" autocomplete="off"  
				placeholder="客户名称" id="customerName" name="customerName"
				th:value="${orderInfoForm.customerName}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>物流单号：</label>
		<div class="formControls col-xs-7 col-sm-8 ">
			<input type="text" class="input-text" autocomplete="off"  
				placeholder="物流单号" id="orderNum" name="orderNum"
				th:value="${orderInfoForm.orderNum}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>品&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp牌：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<select id="brand" name="brand"  class="text-input"  >
				<option value="">待选择</option>
				<option th:each="productBrand:${productBrands}" th:text="${productBrand.name}" 
					th:value="${productBrand.code}" th:selected="${orderInfoForm.productBrandCode eq productBrand.code}">空</option> 
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>型&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp号：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<select id="model" name="model"  class="text-input"  >
				<option value="">待选择</option>
				<option th:each="productModel:${productModels}" th:text="${productModel.name}" 
					th:value="${productModel.code}" th:selected="${orderInfoForm.productModelCode eq productModel.code}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>颜&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp色：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<select id="color" name="color"  class="text-input" >
				<option value="">待选择</option>
				<option th:each="productColor:${productColors}" th:text="${productColor.name}" 
					th:value="${productColor.code}" th:selected="${orderInfoForm.productColorCode eq productColor.code}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>序&nbsp&nbsp列&nbsp&nbsp号：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<input type="text" class="input-text" placeholder="序列号" 
				name="serialNum" id="serialNum" th:value="${orderInfoForm.serialNum}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>保&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp修：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<select id="guarantee" name="guarantee"  class="text-input" >
				<option value="">待选择</option>
				<option th:each="guarantee:${guarantees}" th:text="${guarantee.name}" 
					th:value="${guarantee.code}" th:selected="${orderInfoForm.productGuaranteeCode eq guarantee.code}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>外&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp观：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<select id="apperance" name="apperance"  class="text-input" >
				<option value="">待选择</option>
				<option th:each="productApperance:${productApperances}" th:text="${productApperance.name}" 
					th:value="${productApperance.code}" th:selected="${orderInfoForm.productApperanceCode eq productApperance.code}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>随机附件：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<select id="randomAttachment" name="randomAttachment"  class="text-input">
				<option value="">待选择</option>
				<option th:each="productAttachment:${productAttachments}" th:text="${productAttachment.name}" 
					th:value="${productAttachment.code}" th:selected="${orderInfoForm.productAttachmentCode eq productAttachment.code}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>采购价格：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<input type="text" class="input-text" placeholder="采购价格" 
				name="purchasePrice" id="purchasePrice" th:value="${orderInfoForm.purchasePrice}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>订单状态：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<select id="orderState" name="orderState"  class="text-input" >
				<option value="">待选择</option>
				<option th:each="productState:${productStates}" th:text="${productState.name}" 
					th:value="${productState.code}" th:selected="${orderInfoForm.productStateCode eq productState.code}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>最终收购价格：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<input type="text" class="input-text" placeholder="最终收购价格" 
				name="finalPurchase" id="finalPurchase" th:value="${orderInfoForm.finalPurchase}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>最终质检价格：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<input type="text" class="input-text" placeholder="最终质检价格" 
				name="qualityPrice" id="qualityPrice" th:value="${orderInfoForm.qualityPrice}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp注：</label>
		<div class="formControls col-xs-7 col-sm-8">
			<input type="text" class="input-text" placeholder="备注" 
				ame="purRemarks" id="purRemarks" th:value="${orderInfoForm.purRemarks}"/>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-3 col-sm-3 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" id="subbtn" type="submit" value="&nbsp;&nbsp;修改&nbsp;&nbsp;"/>
		</div> 
		<div class="col-xs-3 col-sm-3 col-xs-offset-1 col-sm-offset-1">
			<button class="btn radius" id="cancel" onclick="window_close();">取消修改</button>
		</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<div th:replace="_footer :: footerjs"></div>
 <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"  src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"  src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
$(function(){
	
	$("#form-purchase-add").validate({
		rules:{
			operator:{
				required:true,
			},
			customerName:{
				required:true,
			},
			orderNum:{
				required:true,
				digits:true,
			},
			purchaseMethod:{
				required:true,
			},
			brand:{
				required:true,
			},
			model:{
				required:true,
			},
			color:{
				required:true,
			},
			guarantee:{
				required:true,
			},
			apperance:{
				required:true,
			},
			orderState:{
				required:true,
			},
			randomAttachment:{
				required:true,
			},
			serialNum:{
				required:true,
				digits:true,
			},
			purchasePrice:{
				required:true,
				 number: true,     //输入必须是数字
                 min: 0.01,          //输入的数字最小值为0.01，不能为0或者负数
                 minNumber: $("#purchasePrice").val()    //调用自定义验证
			},
			finalPurchase:{
				required:true,
				 number: true,     //输入必须是数字
                 min: 0.01,          //输入的数字最小值为0.01，不能为0或者负数
                 minNumber: $("#purchasePrice").val()    //调用自定义验证
			},
			quality_price:{
				required:true,
				 number: true,     //输入必须是数字
                 min: 0.01,          //输入的数字最小值为0.01，不能为0或者负数
                 minNumber: $("#purchasePrice").val()    //调用自定义验证
			},
			purchaseTime:{
				required:true,
				dateISO:true,
			},
		},
		onkeyup:false,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'get',
				url: "/purchase/updateOrder" ,
				success: function(data){
					if(data.message == "success"){
						//禁止重复提交
						$('#subbtn').attr("type","button");
						layer.msg('修改成功!',{icon:1,time:1000},function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index); 
						});
					}else{
						layer.msg('修改失败!请重试',{icon:1,time:1000});
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
		
		}
	});
});
//自定义validate验证输入的数字小数点位数不能大于两位
jQuery.validator.addMethod("minNumber",function(value, element){
    var returnVal = true;
    inputZ=value;
    var ArrMen= inputZ.split(".");    //截取字符串
    if(ArrMen.length==2){
        if(ArrMen[1].length>2){    //判断小数点后面的字符串长度
            returnVal = false;
            return false;
        }
    }
    return returnVal;
},"小数点后最多为两位");         //验证错误信息
$('#cancel').on('click',function(){
	window.close();
});
//关闭窗口
function window_close(){
    if(confirm("您确定要放弃修改吗？")){
    	var index = parent.layer.getFrameIndex(window.name);
		parent.location.reload();
		parent.layer.close(index); 
    }
    else{
    }
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>