<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
<title>采购登记 </title>
</head>
<body>
<style>
	#submit{
		width:15%;
	}
</style>
<article class="page-container">
	<form class="form form-horizontal" id="form-purchase-add" action="#" th:action="@{/materiel/update}">
	<!-- <input type="hidden" name="save" value="true"/> -->
	<div class="row cl" style="margin-bottom:4%;margin-top:5%;">
		<label class="form-label col-xs-4 col-sm-3 col-sm-offset-1"><span class="c-red">*</span>物料名称：</label>
		<div class="formControls col-xs-7 col-sm-5">
			<input type="text" class="input-text" placeholder="物料名称" name="materielName" id="materielName" th:each="materiel : ${materiel}" th:value="${materiel.materielName}"/>
			<input type="hidden" class="input-text" placeholder="物料编号" name="code" id="code" th:each="materiel : ${materiel}" th:value="${materiel.code}"/>
			<input type="hidden" class="input-text" placeholder="物料原始名称" name="oldName" id="oldName" th:each="materiel : ${materiel}" th:value="${materiel.materielName}"/>
		</div>
	</div>
	<div class="row cl" style="margin-bottom:4%">
		<label class="form-label col-xs-4 col-sm-3 col-sm-offset-1"><span class="c-red">*</span>物料价格：</label>
		<div class="formControls col-xs-7 col-sm-5">
			<input type="text" class="input-text" placeholder="物料价格" name="materielPrice" id="materielPrice" th:each="materiel : ${materiel}" th:value="${materiel.materielPrice}"/>
		</div>
	</div>
	<div class="row cl" style="margin-bottom:5%">
		<label class="form-label col-xs-4 col-sm-3 col-sm-offset-1"><span class="c-red">*</span>物料数量：</label>
		<div class="formControls col-xs-7 col-sm-5">
			<input type="text" class="input-text" placeholder="物料数量" name="materielNum" id="materielNum" th:each="materiel : ${materiel}" th:value="${materiel.materielNum}"/>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-3 col-sm-3 col-xs-offset-4 col-sm-offset-5" id="submit">
			<input class="btn btn-primary radius" id="subbtn" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
		</div> 
		<div class="col-xs-3 col-sm-3">
			<input class="btn radius" id="reset" type="button" value="&nbsp;&nbsp;重置&nbsp;&nbsp;"/>
		</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<div th:replace="_footer :: footerjs"></div>
 <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"  src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"  src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
$(function(){
	
	$("#form-purchase-add").validate({
		rules:{
			materielName:{
				required:true,
			},
			materielNum:{
				required:true,
				digits:true,
				min: 0, // 输入的数字最小值为0.01，不能为0或者负数
			},
			materielPrice:{
				required:true,
				 number: true, // 输入必须是数字
                 min: 0.01, // 输入的数字最小值为0.01，不能为0或者负数
                 minNumber: $("#materielPrice").val() //调用自定义验证
			},
		},
		onkeyup:false,
		success:"valid",
		
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'get',
				url: "/materiel/update" ,
				success: function(data){
					if(data.message == "success"){
						//禁止重复提交
						$('#subbtn').attr("type","button");
						layer.msg('修改成功!',{icon:1,time:1000},function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index); 
						});
					}else{
						layer.msg('已存在该物料名字',{icon:1,time:1000});
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
		
		}
	});
});

//自定义validate验证输入的数字小数点位数不能大于两位
jQuery.validator.addMethod("minNumber",function(value, element){
    var returnVal = true;
    inputZ=value;
  //截取字符串
    var ArrMen= inputZ.split("."); 
    if(ArrMen.length==2){
    	//判断小数点后面的字符串长度
        if(ArrMen[1].length>2){ 
            returnVal = false;
            return false;
        }
    }
    return returnVal;
},"小数点后最多为两位");         //验证错误信息

/**
 * 重置
 */
$('#reset').on('click',function(){
	$('.input-text').val("");
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>